.vscode/**
src/**
**/*.ts
**/*.map
**/*.test.*
**/*.spec.*
docs/**
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.gitignore
.yarnrc
eslint.config.js
tsconfig.json
vitest.config.ts
commitlint.config.js
.github/**
husky/**
